.bloco-apresentacao {
    background-image: url('../img/fundo-tarja-3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
    position: relative;
    color: white;
}

/* -------------------------------------------------------*/

/* BLOCO NAVBAR */

header {
    background-color: black;
}  

#itens-menu  {
    width: 650px;
    font-size: 18px;
    text-align: center;
    margin-left: 140px;
    align-items: center;  
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 5px 5px black;
}

#home {
    border-bottom: 2px solid #39b54a;
}

#projeto, #item-quem-somos, #blog, #fale-conosco {
    color:#fff;
}

#lagoas:hover, #home:hover, #projeto:hover, #item-quem-somos:hover, #blog:hover, #fale-conosco:hover {
    border-bottom: 2px solid #39b54a;
    transition-delay: 150ms;
}

.nav-item{
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #3E4095;
  }

  .nav-link {
      color: red;
  }

#logo-lagoas {
    margin: 0 0 0 30px;
}

#bloco-informacao {
    margin-top: 400px;
}

.btn {
    font-weight: 1000;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#map-button {
    color: white;
    font-size: 20px;
    border-radius: 0;
    border-width: medium;
    border-color: white;
    width: 260px;
    margin: 40px 0 0 250px;

}

#map-button:hover {
    background-color: #fff;
    transition-delay: 150ms;
    border-width: medium;
    border-color: white;
    color: black;
}

.ancora-proxima-pagina {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin: 75px 0px 0px 1236px;
    font-family: 'Montserrat', sans-serif;
}

.linha-vertical-verde {
    margin: -20px 80px 0px 1406px;
    color: #39b54a;
    float: left;
    height: 100px;/*Altura da linha*/
    border-left: 4px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

.linha-vertical-branca {
    margin: 0px 80px 0px 1406px;
    float: left;
    color: #fff;
    height: 100px;/*Altura da linha*/
    border-left: 4px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

/* estilos padrões */

.bloco {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 90px 0 90px 0;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h1 {
    font-size: 65px;
    font-family:  'Raleway', sans-serif;
    color: #fff;
}

.titulo h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.titulo h3, .contatos-box-left h3, .contatos-box-right h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.linha-horizontal {
    margin: 10px 0 40px 0;
}

.titulo p {
    text-align: center;
    font-size: 22px;
}

/* FIM ESTILOS PADRÕES*/

/* -------------------------------------------------------*/

/* BLOCO NOSSAS LAGOAS */

.nossas-lagoas {
    background-color: #39b54a;
}

#projeto h3 .nossas-lagoas p {
    color: black;
}

.nossas-lagoas .linha-horizontal {
    background-color: #fff;
}

/* FIM BLOCO NOSSAS LAGOAS*/

/* -------------------------------------------------------*/

/* BLOCO UNAMACS */

.unamacs .linha-horizontal{
    background-color: black;
}

.unamacs h1 {
    color: black;
}

.unamacs h3 {
    color: #39b54a;
}

/* FIM BLOCO UNAMACS*/

/* -------------------------------------------------------*/

/* BLOCO BLOG */

.conheca-blog {
    padding-bottom: 400px;
    background-color:black;
}

.conheca-blog h1 {
    color: #fff;
}

.conheca-blog h3 {
    color: #39b54a;
}

#descricao-blog {
    color:#fff;
    margin-top:20px;
    font-size: 30px;
}

.conheca-blog .linha-horizontal {
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bloco-imagens {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 150px 0;
}

.imagem-bloco {
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;
}

/* FIM BLOCO BLOG*/

/* -------------------------------------------------------*/


.color-word {
    color: #39b54a;
}


.texto-apresentacao h1 {
    font-size: 86px;
    font-family: 'Righteous', cursive;
}

.texto-apresentacao {
    padding: 100px 0 0 50px;
}

  .collapse {
      margin-left: 600px;
  }

 

    /* FIM BLOCO */

/* -------------------------------------------------------*/

/* BLOCO CONTATO */

.contato {
    background-image: url('../img/lagoa-rodape.png');
    background-repeat: no-repeat;
    min-height: 70vh;
    background-size: 100% 100%;
    background-position: left;
    position: relative;
    float: left;
}

.contato h1 {
    color: #fff;
}

.contato h3 {
    color: #39b54a;
    font-size: 13px;
}

.contatos-box {
    margin-top: 20px;
    margin-bottom: 300px;
}

.contatos-box-left {
    background-color:rgba(0,0,0,0.5);
    position: relative;
    height: 650px;
    padding: 50px;
}

.contatos-box-right {
    background-color: #040404;
    height: 650px; 
    padding-top: 50px;  
}

.contatos-box .form-box{
    margin-left: 20px;
}

.contatos-box h3 {
    color: #fff;
}

.formulario, .info-contato {
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

#btn-form {
    background-color: #39b54a;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    height: 55px;
    border-radius: 0%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#nome, #email, #titulo-msg, #mensagem {
    background: none;
    border-radius: 0%;
    border: solid 1px rgb(110, 109, 109);
    padding-bottom: 10px;
}

#nome:hover, #email:hover, #titulo-msg:hover, #mensagem:hover{
    transition-delay: 150ms;
    border: solid 1px #39b54a;
}

input{
    text-indent: 0 0 20px -50px;
}

.info-contato h3 {
    color: #39b54a;
    text-transform: none;
    font-size: 16px;
    margin-bottom: 15px;
}

.info-contato p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 40px;
}

.redes {
    padding-top: 35px;
}

.redes img {
    width: 25px;
    margin-right: 10px;
}

.linha-vertical-verde-contato {
    margin: -180px 0 30px 750px ;
    color: #39b54a;
    float: left;
    height: 180px;
    border-left: 3px solid;
}

/* FIM BLOCO */

/* -------------------------------------------------------*/

/* BLOCO FOOTER */

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}

footer h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
}

/* FIM FOOTER */

/* -------------------------------------------------------*/

/* RESPONSIVIDADE */

@media screen and (min-width: 1600px){
    
    #itens-menu  {
        margin-left: 320px;
    }
    
    .ancora-proxima-pagina {
        margin: 75px 0px 0px 1380px;
    }
    
    .linha-vertical-verde {
        margin: -20px 80px 0px 1550px;   
    }
    
    .linha-vertical-branca {
        margin: 0px 80px 0px 1550px;
    }

    .linha-vertical-verde-contato {
        margin: -180px 0 30px 830px ;
    }


}

@media screen and (max-width: 768px){
    #logo-lagoas {
        margin: 0 auto;
    }

    .bloco-apresentacao{
        background: black;
        margin-bottom: 0px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }


    .bloco-apresentacao h1{
        font-size: 30px;
    }

    .conteudo {
        text-align: center;
        margin-top: 20px;
    }

    .botao {
        align-items: center;
        margin-top: 50px;
    }

    #map-button {
        width: 200px;
        font-size: 14px;
        margin: 0 auto;
    }

    .texto-apresentacao {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .linha-vertical-verde {
        margin: 0 0 0 170px;
        height: 50px;
    }
    
    .linha-vertical-branca {
        margin: 0px 0 0 170px;
        height: 50px;
    }

    .ancora-proxima-pagina {
        visibility: hidden;
    }
    
    .bloco {
        padding: 30px 0;
    }

    .conheca-blog {
        height: 600px;
    }
    
    .titulo {
        text-align: center;
    }
    
    .titulo h1 {
        font-size: 40px;
        font-family:  'Raleway', sans-serif;
    }
    
    .titulo h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }
    
    .titulo h3, .contatos-box-left h3, .contatos-box-right h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
    }

    .bloco-imagem {
        width: 350px;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
    }

    .imagem-bloco {
        width: 320px;
        align-self: center;
    }

    .nossas-lagoas h3 {
        margin-top: 20px;
    }

    #descricao-blog {
        font-size: 15px;
    }
    
    .linha-horizontal {
        margin: 10px 0 40px 0;
    }
    
    .titulo p {
        text-align: center;
        font-size: 22px;
    }

    .contato {
        background-image: url(../img/agua-mobile.png);
    }

    .contatos-box-left {
        align-items: center;
    }

    .form-group {
        margin: 0 auto;
    }

    .contatos-box-left {
        background-color:rgba(0,0,0,0.5);
        position: absolute;
        height: 650px;
        padding: 50px;
    }

    .contatos-box-right{
        text-align: center;
    }
     
    .contatos-box .form-box{
        margin-left: 0;
        text-align: center;
    }


}